@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: var(--font-body);
}

body {
  font-family: var(--font-body);
}

a {
  color: inherit;
  text-decoration: none;
}
